

<!DOCTYPE html>
<html>
  <body>
    <h1>FORM TEST</h1>
    <form method="POST" action="/reset-password/<%= token %>">
      <input type="password" name="password" />
      <button type="submit">Update</button>
    </form>
  </body>
</html>

